.experience {
  font-size: 14px;
  position: relative;
  width: calc(100% + 25px);
  .wrap {
    width: calc(100% - 25px);
  }
  .img {
    position: absolute;
    right: 1px;
    top: 50%;
    width: 35px;
    transform: translate(50%, -50%);
    z-index: 999;
    cursor: pointer;
  }
  .up {
    top: 30%;
  }
  .down {
    top: 70%;
  }
  .center {
    top: 50%;
  }
  .hide {
    display: none;
  }

  .icon-container {
    display: flex;
    flex-direction: row-reverse;
    .del-item {
      margin: 5px 0px 0px 0px;
      font-size: 17px;
      cursor: pointer;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    .position {
      font-weight: 600;
    }
    .box {
      width: calc(100% - 200px);
    }
    .time-box {
      text-align: right;
      min-width: 200px;
    }
  }
  .contentList {
    margin: 0 0 10px -20px;
    .content-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .del-icon {
      font-size: 17px;
      cursor: pointer;
      color: rgb(24, 144, 255);
    }
  }
}

.hover {
  background: rgba(44, 105, 249, 0.15);
  &::after {
    content: "";
    width: calc(100%);
    display: inline;
    position: absolute;
    height: calc(100% + 1px);
    top: -1px;
    border: 2px dashed #2c69f926;
    z-index: -99;
  }
}
