.experience {
  font-size: 14px;
  position: relative;
  .icon-container {
    display: flex;
    flex-direction: row-reverse;
    .del-item {
      margin: 5px 0px 0px 0px;
      font-size: 17px;
      cursor: pointer;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    .position {
      font-weight: 600;
    }
    .empty {
      background-image: url("~@/Assets/Cry-Hard.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 30px;
    }
  }
  .contentList {
    margin: 0 0 10px -20px;
    .content-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .del-icon {
      font-size: 17px;
      cursor: pointer;
      color: rgb(24, 144, 255);
    }
  }
}
