.experience {
  font-size: 14px;
  position: relative;
  .title {
    display: flex;
    justify-content: space-between;
    .position {
      font-weight: 600;
    }
  }
  .contentList {
    margin: 0 0 10px -20px;
  }
}
