.resume-templete {
  width: 50vw;
  padding: 20px;
  .subtitle {
    display: flex;
    justify-content: center;
    .subtitle-left {
      width: 50%;
      text-align: right;
      &::after {
        content: "|";
      }
    }
    .subtitle-right {
      width: 50%;
    }
  }
}
