.resume-template {
  width: 50vw;
  padding: 20px;
  position: relative;
  .name div {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }
  .center {
    text-align: center;
  }
  .mb-4 {
    margin-bottom: 4px;
  }
  .pdl-0 {
    padding-left: 0;
  }
  .pdr-0 {
    padding-right: 0;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    .subtitle-left {
      width: 50%;
      text-align: right;
      position: relative;
      margin-right: 10px;
      &::after {
        content: "|";
        position: absolute;
        top: 0;
        right: -8px;
      }
    }
    .subtitle-right {
      width: 50%;
      margin-left: 4px;
    }
  }
}
